## WAC Calculator for single SKU

In [2]:
!pip install pandas --upgrade --quiet
import pandas as pd
df = pd.read_csv("C:/Users/adedo/Desktop/Data_analytics/data/WAC1.txt")
pd.options.display.float_format = "{:,.2f}".format
df

   Received  Issued  Unit price
0       657    0.00       17.61
1       490    0.00       12.49
2         0   11.10        9.69
3         0    7.20        7.92
4       270    0.00        6.69
5         0    5.80        5.80
6       206    0.00        5.12
7       160    4.20        4.58

In [3]:
#Create an amount column and total quantity column
df['amount'] = (df['Received'] - df['Issued']) * df["Unit price"]
df['TotalQty'] = (df["Received"] - df["Issued"]).cumsum()
print(df)

   Received  Issued  Unit price    amount  TotalQty
0       657    0.00       17.61 11,569.20    657.00
1       490    0.00       12.49  6,122.00  1,147.00
2         0   11.10        9.69   -107.57  1,135.90
3         0    7.20        7.92    -57.01  1,128.70
4       270    0.00        6.69  1,807.56  1,398.70
5         0    5.80        5.80    -33.64  1,392.90
6       206    0.00        5.12  1,053.74  1,598.90
7       160    4.20        4.58    712.90  1,754.70

## Calculating the weighted average cost

In [4]:
# Set the first average price (We need an inception)
df.loc[0,'WAC'] = df.loc[0,'Unit price']

# loop over the remaining rows.
for i in range(1, len(df)):
    #if nothing was received, take the previous value
    if df.loc[i, 'Received'] == 0:
        df.loc[i, 'WAC'] = df.loc[i-1, 'WAC']
    #if something was received
    elif df.loc[i, 'Received'] > 0:
        df.loc[i, 'WAC'] = (df.loc[i,'amount'] + ((df.loc[i-1, 'WAC']) * (df.loc[i-1, 'TotalQty']))) / (df.loc[i, 'TotalQty'])
    else:
        df.loc[i, 'WAC'] = 0
print(df)

   Received  Issued  Unit price    amount  TotalQty   WAC
0       657    0.00       17.61 11,569.20    657.00 17.61
1       490    0.00       12.49  6,122.00  1,147.00 15.42
2         0   11.10        9.69   -107.57  1,135.90 15.42
3         0    7.20        7.92    -57.01  1,128.70 15.42
4       270    0.00        6.69  1,807.56  1,398.70 13.74
5         0    5.80        5.80    -33.64  1,392.90 13.74
6       206    0.00        5.12  1,053.74  1,598.90 12.63
7       160    4.20        4.58    712.90  1,754.70 11.91